@use "../../responsive.scss" as res;

.search {
    .type {
    
        @include res.sm{
            margin-bottom: 5px;
        }
        button {
            padding: 12px 20px;
            border: 1px solid gray;
            border-bottom: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            cursor: pointer;
            background-color: white;

            &.active {
                background-color: #123458;
                color: white;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-right: none;

                @include res.sm{
                    border: 1px solid gray;
                }
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-left: none;
            }

            @include res.sm{
                border: 1px solid gray;
            }
        }
    }

    form {

        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include res.sm {
            flex-direction: column;
            border: none;
        }

        input {
            border: none;
            width: 100px;
            padding: 0 10px;

            @include res.lg {
                padding: 0 5px;

                &:nth-child(2),
                :nth-child(3) {
                    width: 140px;
                }
            }

            @include res.md {
              width: auto; 
                &:nth-child(2),
                :nth-child(3) {
                    width: auto;
                }
            }

            @include res.sm{
                padding: 20px;
                border-bottom: 1px solid gray;
            }
        }

        button {
            border: none;
            cursor: pointer;
            background-color: #123458;
            padding: 16px;
            color: aliceblue;

            @include res.sm{
                padding: 10px;
            }

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}